.controls {
    color: white;
    padding: 10px;
    text-align: center;
    background-color: rgb( 50, 50, 50);
    display: inline-block;
    padding-bottom: 14px;
}

#randomize {
    background-color: rgb( 50, 50, 50);
    color: white;
    margin: 0 0 10px 0;
}

#colorPreview {
    box-shadow: 0 0 0 1px white;
    border: 1px solid black;
    margin: 0 auto;
    height: 60px;
    width: 60px;
    background-color: rgb( 50, 50, 50);
}

.colorSelector>label:nth-child(1) {
    color: red;
}

label:nth-child(4) {
    color: green;
}

label:nth-child(7) {
    color: blue;
}

#colorHider {
    padding: 0 30px;
}

#colorHider:hover {
    cursor: pointer;
}

#paintSurface {
    border: 2px solid rgb( 50, 50, 50);
}

select {
    color: black;
}