body,
html {
    height: 100%;
    width: 100%;
}

.controls {
    color: white;
    padding: 10px;
    text-align: center;
    background-color: rgb( 50, 50, 50);
    display: inline-block;
    padding-bottom: 14px;
}

#randomize {
    background-color: rgb( 50, 50, 50);
    color: white;
    margin: 0 0 10px 0;
}

#colorPreview {
    box-shadow: 0 0 0 1px white;
    border: 8px solid rgb( 250, 250, 250);
    margin: 0 auto;
    height: 60px;
    width: 60px;
    background-color: rgb( 50, 50, 50);
}

#fillPreview {
    position: relative;
    margin: 5px auto;
    height: 50px;
    width: 50px;
}

.colorSelector>label:nth-child(1) {
    color: red;
}

label:nth-child(4) {
    color: green;
}

label:nth-child(7) {
    color: blue;
}

#colorHider {
    padding: 0 30px;
}

#colorHider:hover {
    cursor: pointer;
}

select {
    color: black;
}

#paintSurface {
    filter: saturate(10);
}